header {
    text-align: left;
}


body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    background-image: url('https://images.axios.com/xmPkVSRmvqyXP8jIc1Fwoyk-W5A=/0x0:1920x1080/1920x1080/2018/11/01/1541106499460.gif');
    color: #d3ff25;
}

a {
    color: #93b219;
    font-style: normal;
    text-decoration: none;
    margin: 5px;
}

a:hover{
    color: #d2fe23;
}

h1{
    font-size: 200px;
    margin-top: 15px;
    margin-bottom: 30%;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
    text-shadow: none;
    max-width: 100%;
  }

img {
    display: flex;
    margin: 5px;
    height: 30px; 
    width: 30px;
}

columns_about{
    column-gap: var(--margin);
    display: flex;
    margin: 0 auto;
    position: relative;
    width: calc(100% - var(--padding)*2);
    flex-direction: row;
    min-height: 676px;
    
}

left_side_about{
    width: 100%;
    height: 100%;
    --column-width: 393px;
    --column-flex: 393;
    background-color: #d3ff25;
    color: #2d277e;
    padding: 45px;
    padding-bottom: 80px;
    margin-left: 15px;
    margin-top: 30px;
    writing-mode: vertical-rl;
}
left_side_about h1{
    padding: 15px;
    margin: 15px; 
    font-size: 100px;
    text-transform: uppercase;
    text-align: left;
    transition: transform 0.3s ease;
    height: 1000px;
}

left_side_about h1:hover{
    background-color: #2d277e;
    color: #d2fe23;
    transform: scale(0.8);
    text-align: center;
}

right_side_about{
    width: 100%;
    height: 100%;
    --column-width: 587px;
    --column-flex: 587;
    text-align: left;
}

right_side_about h2{
    margin: 15px;
}
